<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Movies </title>
   <link rel="stylesheet" href="{% static 'CSS/Movies Style.css' %}">
</head>
<body>
  <header class="header">
    <a href="#" class="logo">FilmFan</a>
    <form class="search-bar">
        <input type="text" placeholder="Movies, Tv Shows, Stars" name="q">
        <button type="submit"><img src="{% static 'img/search.png' %}" alt="Search"></button>
    </form>
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'movies' %}">Movies</a>
        <a href="{% url 'TVshows' %}">Tv Shows</a>
        <a class="signin" href="{% url 'login' %}"><b>SIGN IN</b></a>
        <a class="signup" href="{% url 'register' %}"><b>SIGN UP</b></a>
    </div>
</header> 
 
<div class="categories">
    <a href="file:///D:/Movies%20(4).html#">All movies</a>
    <a href="file:///D:/Movies%20(4).html#">Horror</a>
    <a href="file:///D:/Movies%20(4).html#">Mystery</a>
    <a href="file:///D:/Movies%20(4).html#">Action</a>
</div>

  <main>
    <div class="movies">
      <div class="movie">
        <img src="{% static 'img/Batman Begins.jpg' %}" alt="Movie 1">
        <div class="details">
          <h2>Batman Begins</h2>
          <p>Action, Thriller</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/vOpV6HrtAkNQxCWAgtU4NmQ1KPe.jpg' %}" alt="Movie 2">
        <div class="details">
          <h2>spider man into the spider verse</h2>
          <p>Action</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/OIP (2).jfif' %}" alt="Movie 3">
        <div class="details">
          <h2>Dunkirk</h2>
          <p>Action, Thriller</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/R (1).jfif' %}" alt="Movie 4">
        <div class="details">
          <h2>The nun ||</h2>
          <p>Horror ,Mystery</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/army-of-the-dead-540x800.webp' %}" alt="Movie 5">
        <div class="details">
          <h2>Army of the dead</h2>
          <p>Action, Horror</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/OIP.jfif' %}" alt="Movie 6">
        <div class="details">
          <h2>saw x</h2>
          <p>Horror ,Mystery</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/American_Psycho_Poster-1200x1797.jpg' %}" alt="Movie 7">
        <div class="details">
          <h2>American psycho</h2>
          <p>Comedy, Horror</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/dune.jpg' %}" alt="Movie 8">
        <div class="details">
          <h2>Dune</h2>
          <p>Action, Thriller</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/NoTimeToDie_02_Poster-1200x1779.jpg' %}" alt="Movie 9">
        <div class="details">
          <h2>No time to die</h2>
          <p>Action, Thriller</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/shangchi_and_the_legend_of_the_ten_rings_ver9_xlg.avif' %}" alt="Movie 10">
        <div class="details">
          <h2>Shang chi</h2>
          <p>Action</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/OIP (1).jfif' %}" alt="Movie 11">
        <div class="details">
          <h2>Don't breathe 2</h2>
          <p>Action, Horror</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/R (3).jfif' %}" alt="Movie 12">
        <div class="details">
          <h2>Venom</h2>
          <p>Action, </p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/Inception-movie-poster.webp' %}" alt="Movie 13">
        <div class="details">
          <h2>Inception</h2>
          <p>Action, Thriller</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/R (6).jfif' %}" alt="Movie 14">
        <div class="details">
          <h2>John wick 3</h2>
          <p>Action</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/The_Killer_2023_poster.jpg' %}" alt="Movie 15">
        <div class="details">
          <h2>The killer</h2>
          <p>Action, Mystery</p>
        </div>
      </div>
      <div class="movie">
        <img src="{% static 'img/The_Killer_2023_poster.jpg' %}" alt="Movie 16">
        <div class="details">
          <h2>The outfit</h2>
          <p>Action, Thriller</p>
        </div>
      </div>
    </div>
  </main>


</body></html>