body{
    font-family: sans-serif;
    margin: 0 100px;
    background-image: linear-gradient(to bottom left,  rgb(0, 0, 0) , rgb(31, 43, 87));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
        
  .header{
    font-family: sans-serif;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 10px;
  }
  input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    
  }
  .signin{
    background: transparent;
    border: none;
    color: #ffffff;
  margin-left: 35px;
  margin-top: 5px;
  font-weight: 550;
  font-size: 14px;
  }
  .signup{
    border: none;
    color: #ffffff;
    margin-left: 20px;
    background-color: #FF0000;
    outline: none;
    border-radius: 5px;
    font-weight: 550;
    font-size: 13px;
  }
  .logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
  }
  .navbar a{
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
  }
  .navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
  }
  .navbar a:hover::before{
    width: 100%;
  }
  
  .search-bar{
    width: 35%; 
    max-width: 400px; 
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px; 
    backdrop-filter: blur(2px) saturate(180%);
  }
  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 8px; 
    font-size: 16px; 
    color: #ffffff;
    font-weight: 500;
    font-family: sans-serif;
  }
  ::placeholder{
    color: #cac7ff;
  }
  .search-bar button img{
    width: 25px;
  }
  .search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    background: #58629b;
    cursor: pointer;
  }
  
  .categories{
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 50px;
  }
  
  .categories a{
    position: relative;
    font-size: 40px;
    color: #ffffff;
    margin: 1px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 40px;
  }
  .categories a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 5px;
    background: rgb(244, 0, 0);
    transition: 0.3s;
  }
  .categories a:hover::before{
    width: 100%;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .movie {
    width: calc(25% - 20px); /* Adjust width to fit 4 movies in a row */
    margin-bottom: 20px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .movie img {
    max-width: 75%;
  }
  
  
  .details {
    color: #ffffff;
    text-align: left;
  }
  
  /* Ensure that each movie has equal width */
  @media (max-width: 1200px) {
    .movie {
      width: calc(33.33% - 20px);
    }
  }
  
  /* Adjust for smaller screens */
  @media (max-width: 768px) {
    .movie {
      width: calc(50% - 20px);
    }
  }
  
  /* Adjust for even smaller screens */
  @media (max-width: 576px) {
    .movie {
      width: calc(100% - 20px);
    }
  }
  
  ::-webkit-scrollbar{
    width: 9px;
  }
  ::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #58629b;
  }
  