body
{
    background-image: url("0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form
{
    background: linear-gradient(135deg, rgba(4, 1, 177, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding-bottom: 50px;
    border-radius: 10px;
    border: #dbdbdb solid 1px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), 0 0 18px 3px rgba(0, 0, 0, 0.3);
}

#X
{
    font-weight: bold;
    border: none;
    color: aliceblue;
    background-color: rgb(160, 0, 0);
    padding-top: 7px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 7px;
    margin-left: 260px;
    border-radius: 0 7px 0 7px;
}

#X:hover, #login:hover
{
    background-color: rgb(136, 0, 0);
}

button:hover,#Rememberme:hover
{
    cursor: pointer;
}

#email
{
    color: aliceblue;
    width: 70%;
    height: 20px;
    background: none;
    border-color: black;
    border-style: double;
    border-width: 0 0 1px 0;
}
::placeholder
{
    opacity: 50%;
    color: aliceblue;
    padding-left: 15px;
}
#password
{
    color: aliceblue;
    width: 70%;
    height: 20px;
    background: none;
    border-color: black;
    border-style: double;
    border-width: 0 0 1px 0;
    margin-bottom: 2px;
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

#forget, #Register2
{
    color: rgb(0, 30, 255);
    background: none;
    border: none;
}
#login
{
    font-weight: bold;   
    color: aliceblue;
    background-color: rgb(180, 0, 0);
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}
#p2
{
    color: #dbdbdb;
    font-size: 12px;
}
#Remember
{
    color: #dbdbdb;
    font-size: 14px;
}
#Rememberme
{
    width: 11px;
}

#forget:hover, #Register2:hover
{
    text-decoration: underline;
} 

#forget:active, #login:active, #Register2:active
{
    color: aliceblue;
    text-decoration: underline;
} 
#x:active
{
    background-color: rgb(233, 222, 222);
}