body
{
    background-image: url("0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

form
{
    background-color: rgb(75, 75, 75);
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding-bottom: 50px;
    border-radius: 10px;
}

#X
{

}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}