@import url('https://fonts.google.com/specimen/League+Spartan?query=spartan');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}

h1{
  font-size: 90px;
  line-height: 70px;
  color: #32def1;
}


#middle{
  background-image: url("img/galaxy.jpg");
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: top 70% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#product1{
  text-align: center;
  background-image: url("img/darkblue.jpg");
  width: 100;
  height: 200vh;
  color: #ffffff;
  
}

#product1 i{
  color: red;
}

#product1 .movies{
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
}


#product1 .pro{
  width: 15%;
  min-width: 100px;
  padding: 10px 5px;
  border: 1px solid #1b150e;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  

}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img{
  width: 100%;
  border-radius: 5px;
}

#product1 .pro .des{
  text-align: center;
  padding: 10px 0;
}

#product1 .pro .des h5{
  padding-top: 7px;
  font-size: 15px;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 17px;
  font-weight: 700;
  color: rgb(244, 153, 26);
}

#product1 .product-container{
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
  padding: 20px;
  flex-wrap: wrap;
  
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(198, 199, 201, 0.096);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before{
  width: 100%;
}

.search-bar{
  width: 35%; 
  max-width: 400px; 
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 5px 10px; 
  backdrop-filter: blur(2px) saturate(180%);
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 8px; 
  font-size: 16px; 
  color: #cac7ff;
}
::placeholder{
  color: #cac7ff;
}

.search-bar button img{
  width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 40px; 
  height: 40px; 
  background: #58629b;
  cursor: pointer;
}
