@import url('https://fonts.google.com/specimen/League+Spartan?query=spartan');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}

h1{
  font-size: 90px;
  line-height: 70px;
  color: #32def1;
 
}



#middle{
  background-image: url("img/galaxy.jpg");
  height: 110vh;
  width: 100%;
  background-size: cover;
  background-position: top 70% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.header{
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-top: 10px;
}
input{
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  
}

.signin{
  background: transparent;
  border: none;
  color: #ffffff;
margin-left: 35px;
margin-top: 5px;
font-weight: 550;
font-size: 14px;


}

.signup{
  border: none;
  color: #ffffff;
  margin-left: 20px;
  background-color: #FF0000;
  outline: none;
  border-radius: 5px;
  font-weight: 550;
  font-size: 13px;
}



.logo{
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before{
  width: 100%;
}

.search-bar{
  width: 35%; 
  max-width: 400px; 
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px; 
  backdrop-filter: blur(2px) saturate(180%);
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 8px; 
  font-size: 16px; 
  color: #ffffff;
  font-weight: 500;
  font-family: sans-serif;
}
::placeholder{
  color: #cac7ff;
}

.search-bar button img{
  width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 40px; 
  height: 40px; 
  background: #58629b;
  cursor: pointer;
}


.heading{
  
  color: white;
  padding-top: 60px;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  font-weight: 550;
  text-transform: uppercase;
  
}

.heading span{
  border-left: 4px solid red;
  padding-left: 5px;
}

.second{
  background-image: linear-gradient(to bottom left,  rgb(0, 0, 0) , rgb(31, 43, 87));
    
  
    padding: 20px;
}

.movies-container{
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,auto));
  gap: 1rem;
  margin-top: 2rem;
}

.box .box-img{
  width: 100%;
  height: 270px;
}

.box .box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .box-img img:hover{
  transform: translateY(-10px);
  transition: 0.25s all linear;
}

.box h3{
  font-size: 1rem;
  font-weight: 600;
  color: rgb(236, 236, 236);
}

.box span{
  font-size: 13px;
  color: rgb(194, 191, 191);
  
}
::-webkit-scrollbar{
  width: 9px;
}
::-webkit-scrollbar-track{
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: #58629b;
}